<footer>
  <div class="footerInner">
    <img class="logo" src="assets/img/logo.png" alt="logo">
    <div class="navigace">
      <ul class="navigaceInner">
        <li class="oddil oddilStranky">
          <h4>Stránky</h4>
          <ul class="prvni">
            <li>
              <a href="/">Domů</a>
            </li>
            <li>
              <a href="/domy">Domy</a>
            </li>
            <li>
              <a href="/fotogalerie">Fotogalerie</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/ceny">Ceny</a>
            </li>
            <li>
              <a href="/kontakt">Kontakt</a>
            </li>
          </ul>
        </li>
        <li class="oddil oddilKontakt">
          <h4>Kontakt</h4>
          <ul class="prvni">
            <li>
              <div class="emojiWrap emojiObalka">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <a href="mailto:michal.kocourek@obchodsrealitami.cz">michal.kocourek@obchodsrealitami.cz</a>
            </li>
            <li>
              <div class="emojiWrap">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <a href="tel:+420776300756">+420 776 300 756</a>
            </li>
          </ul>
          <!--
          <ul class="social">
            <li>
              <a href="http://facebook.com/bydleniSvojetice">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/bydleniSvojetice">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </li>-->
        <li class="oddil oddilFinancovani">
          <h4>Financování</h4>
          <a>
            <img src="assets/img/banka.jpg" alt="Hypoteční banka">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <p>web vytvořil <a href="https://palmmedia.co/">PalmMedia.co</a></p>
  </div>
  <script src="assets/js/photoswipe/photoswipe.min.js"></script>
  <script src="assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120238583-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120238583-1');
  </script>
</footer>
