<table class="normalniTabulka">
  <thead>
    <tr>
      <th id="dum">dům číslo</th>
      <th>celková velikost pozemku</th>
      <th>celková cena</th>
      <th id="stav">stav prodeje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>I/1</th>
      <td>462</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/2</th>
      <td>330</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/3</th>
      <td>336</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/4</th>
      <td>341</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/5</th>
      <td>346</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/6</th>
      <td>343</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/7</th>
      <td>330</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/8</th>
      <td>333</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/9</th>
      <td>433</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>I/10</th>
      <td>494</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>II/1</th>
      <td>393</td>
      <td><!--10.980.000,- Kč-->-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/2</th>
      <td>308</td>
      <td><!--10.790.000,- Kč-->-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/3</th>
      <td>353</td>
      <td><!--9.940.000,- Kč-->-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/4</th>
      <td>327</td>
      <td><!--9.720.000,- Kč-->-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/5</th>
      <td>480</td>
      <td><!--11.970.000,- Kč-->-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/6</th>
      <td>497</td>
      <td><!--11.890.000,- Kč-->-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/7</th>
      <td>515</td>
      <td>-</td>
      <td>rezervace</td>
    </tr>

    <tr>
      <th>II/8</th>
      <td>530</td>
      <td>-</td>
      <td>rezervace</td>
    </tr>







    <tr>
      <th>III/1</th>
      <td>356</td>
      <td>-</td>
      <!-- <td>13 820 000,- Kč</td> -->
      <td>rezervace</td>
    </tr>

    <tr>
      <th>III/2</th>
      <td>367</td>
      <td>-</td>
      <!-- <td>13 855 000,- Kč</td> -->
      <td>rezervace</td>
    </tr>
    <tr>
      <th>III/3</th>
      <td>360</td>
      <td>13 750 000,- Kč</td>
      <td>volné</td>
    </tr>
    <tr>
      <th>III/4</th>
      <td>360</td>
      <td>13 750 000,- Kč</td>
      <td>volné</td>
    </tr>
    <tr>
      <th>III/5</th>
      <td>359</td>
      <td>13 735 000,- Kč</td>
      <td>volné</td>
    </tr>



    <tr>
      <th id="posledni">III/6</th>
      <td>359</td>
      <!-- <td>13 735 000,- Kč</td> -->
      <td>-</td>
      <td>rezervace</td>
    </tr>
  </tbody>
</table>
