<table class="normalniTabulka">
  <thead>
    <tr>
      <th id="dum">dům číslo</th>
      <th>celková velikost pozemku</th>
      <th>celková cena</th>
      <th id="stav">stav prodeje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>438</td>
      <td>7 533 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>2</th>
      <td>262</td>
      <td>6 917 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>3</th>
      <td>249</td>
      <td>6 871 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>4</th>
      <td>247</td>
      <td>6 864 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>5</th>
      <td>258</td>
      <td>6 903 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>6</th>
      <td>323</td>
      <td>7 110 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>7</th>
      <td>342</td>
      <td>7 197 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>8</th>
      <td>255</td>
      <td>6 892 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>9</th>
      <td>262</td>
      <td>6 917 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>10</th>
      <td>268</td>
      <td>6 938 000,-</td>
      <td>volný</td>
    </tr>

    <tr>
      <th>11</th>
      <td>534</td>
      <td>7 869 000,-</td>
      <td>volný</td>
    </tr>

  </tbody>
</table>
